.menu {
    background-color: rgba(111, 66, 193, 0.1);
    box-shadow: 
        0 3px 3px -2px rgb(0 0 0 / 12%), 
        0 3px 4px 0 rgb(0 0 0 / 4%), 
        0 1px 8px 0 rgb(0 0 0 / 2%);
}

.menu__header {
    padding: 10px 20px 0px 20px;
}

.menu__btn {
    background-color: rgba(111, 66, 193, 0);
    border: none;
    font-weight: 900;
}

.intro {
    background-color: rgba(111, 66, 193, 0.1);
    border-bottom-right-radius: 50%;

    overflow: hidden;
    text-align: center;

    padding-top: 15px; 
}  

.intro span {
    font-size: 12px;
    text-transform: uppercase;
    color: rgba(111, 66, 193, 0.5);
    font-weight: 900;

    padding-bottom: 0px;
    margin-bottom: 0px;
}

.intro h1 {
    font-size: 30px;
    font-weight: 900;
    color: #6f42c1;
}

.intro p {
    padding-bottom: 16px;
    font-style: italic;
    font-size: 16px; }
    @media (min-width:1024px) {
        .intro {
            height: auto;
        }
        .intro img {
            width: 35%;
        }
        .intro span {
            font-size: 20px;
        }
        .intro h1 {
            font-size: 50px;
        }
    }


.abstract {
    height: auto;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}

.abstract > ul {
    padding: 15px;
    list-style-type: none;
}

.abstract > ul > li {
    padding: 10px;
    text-align: center;
}
.abstract > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.abstract > div > h3 {
    font-size: 20px;
    font-style: italic;
}

.abstract > div > .signin-btn {
    background: #c3aaf1;
    border-radius: 10px;
    color: #fff;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}
