.advides__header {
    text-align: center;
}

.advides__header > p {
    font-size: 16px;
    font-style: italic;
    color: rgb(177, 23, 182);
    margin-bottom: 0;
}

.advides__header > h3 {
    font-size: 35px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #6f42c1;
    font-weight: 850;
}

.advides__detail {
    padding: 20px 10px;
}

.advides__detail h3 {
    font-size: 20px;
    color: rgb(137, 25, 241);
}