.news_one {
    height: 500px;
    background-repeat:repeat;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    box-shadow: 
    rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, 
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;;
}

.news_two, .news_three {
    height: 250px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    box-shadow: 
    rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, 
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.news_one > div:first-child, .news_two > div:first-child, .news_three > div:first-child {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    color: #fff;
    font-family: 'Uchen', serif;
    font-size: 20px;
    padding: 5px 10px;
    transition:all .5s ease-in-out;
}

.news_one > div:first-child:hover, 
.news_two > div:first-child:hover, 
.news_three > div:first-child:hover {
    border:1px solid rgb(250, 51, 51);
    font-size:25px;
    color:#ffdb10;
}

@media screen and (max-width:992px) {
    .news_one {
        height: 300px;
    }
    .news_two, .news_three {
        height: 300px;
        margin: 10px 0;
    }
}